div{
    height: 100px;
    width:100px;
    background-color: aqua;
    border: 10px solid black;
    display: inline-block;

}
#div1{
    position: relative;
    top:0px; 
}
#div2{
    position: fixed;
    right: 0px;
}
#div3{
    position: sticky;
    top: 0px;
}
#div4{
    position: absolute;
    top: 0px;
}