#one{
    height:100px;
    width:100px;
    background-color: rgba(255,0,255,0.5);
}
#two{
    height: 100px;
    width: 100px;
    background-color: rgba(255,255,0,0.5);
}
#three{
    height: 100px;
    width: 100px;
    background-color: rgba(255,0,0,0.5);
}
#amazon{
    color:orange;
    display:inline-block;
    margin-right: 100px;
}
header{
    height: 50px;
    width:1000px;

    background-color: black;
}
#contact{
    color:white;
    display: inline-block;
    margin-right: 100px;
}
#help{
    color:white;
    display: inline-block;
    margin-right: 20px;
}
#content{
    height: 1000px;
}