ul{
    background-color: blue;
    height:50px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    
}
a{
    color:black;
    background-color: white;
    text-decoration: none;
}
li{
    list-style-type: none;
    display: inline;
}
.d{
    height: 600px;
    width: 400px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;

}
.o{
    height: 100px;
    width: 100px;
    background-color: black;
}