div{
    height: 300px;
    width: 300px;
    background-color: black;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;

    /* transition-property: all;
    transition-duration: 5s;
    transition-timing-function: steps(10);
    transition-delay:1s ; */
    transition: all 5s ease-in 1s;
    
}

div:hover{
    background-color: yellow;
    color: black;
    font-size: 50px;
    
    
}
div:active{
    background-color: blue;
}