#div1{
    height: 100px;
    width: 100px;
    background-color: red;
    margin: 50px;
    border: 50px solid black;
    font-size: 50px;
}
#div2{
    height: 100%;
    width:100%;
    background-color: green;
    margin: 100%;
    border: 50px solid blue;
    font-size: 1em;
    font-size: 5rem;
    /* font-size:100vh; */

    
}